
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* GENERAL BEGIN */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.text-shadow-1 {
    text-shadow: 0px 0px 5px black;
}

.text-break {
    word-break: break-all;
}
/* GENERAL END  */

/*  HEADER BEGIN  */
.header-top nav {
    background-color: #262626;
    color: white;
}

.header-top nav .flag {
    height: 25px;
}

.header-middle img {
    object-fit: cover;
    height: 250px;
}

.header-middle .carousel-caption {
    text-shadow: 0px 0px 15px black;
}

.header-bottom .fa-shopping-cart {
    font-size: 25px;
}
/* HEADER END */

/*  MAIN BEGIN   */
.card  {
    position: relative;
}

.card img {
    object-fit: scale-down;
    height: 280px;
    transition: transform .25s;
}

.card:hover img {
    transform: scale(0.9);
}

.new {
    position: absolute;
    top: 0;
    left: 0;
    display: inline;
    padding: 5px 15px;
    background-color: rgba(200, 0, 0, .75);
    color: white;
}

.recommended {
    position: absolute;
    top: 0;
    right: 0;
    display: inline;
    padding: 5px 15px;;
    background-color: #222222;
    color: white;
}

.btn {
    transition: transform 0.15s;
}

.btn:hover {
    transform: scale(1.025);
}

.forum-back {
    bottom: 5px;
    left: 10px;
}

.forum-thread {
    bottom: 5px;
    right: 10px;
}

/*  MAIN END   */

/*  FOOTER BEGIN    */
footer {
    background-color: #262626;
    color: #6a6a6a;
}

footer .footer-top {
}

footer .footer-bottom {
    background-color: #222222;
}
/*  FOOTER END    */


/* ANIMATIONS BEGIN */
i {
    transition: transform .25s ease-out;
}

.animate-icon:hover i {
    transform: scale(1.25);
}
/* ANIMATIONS END */